.data
.nextflow*
*.RData
.Rhistory
.Rprofile
.Renviron
.Rproj.user*
.Rproj.user
*.Rproj work/*
*.Rproj
*.rds
*_cache/
*_files/
work*
*.sqlite
*__pycache__*
*.tar.gz
*.html
*bin/
analysis/pivot/alzheimers
sim_runner
pgsc_calc
